body{
	font-size: 16px;
}
*{
	color: white;
	box-sizing: border-box;
}
header, footer{
	height: 200px;
	padding: 1em;
	
	}

article{
		height: auto;
		background-color: pink;
		padding: 1em;
		margin-bottom: 1em;
	}

body > header{
	background-color: lightblue;
	margin-bottom: 1em;
	float: left;
	width: 79%;

}

nav{
	 
	background-color: lightblue;
	padding: 1em;
	float: left;
	width: 20%;
	height: 600px;
	margin-right: 1%;

}

main > article > header{
	background-color: pink;
}
main {
	float: left;
	width: 79%;
}
footer{
	background-color: mediumpurple;
	width: 100%;
	text-align: center;
	clear: both;
}
